/* styles.css */
.feedback-icon {
  width: 100px;
  margin: 0 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.feedback-icon:hover {
  transform: scale(1.5);
}

#response-message {
  margin-top: 20px;
  color: green;
  font-size: 20px;
}

.footerBar {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  padding: 35px;
  bottom: 0;
  display: block;
  max-height: 35px;
  text-align: right;
  margin: 0px;
}
  
.contactUs {
  font-size: 35px;
  text-decoration: none;
}

/* Link when not clicked */
.contactUs a:link {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

/* Link after being visited (keeps color a certain way) */

.contactUs a:visited {
  text-decoration: none;
  color: lightgrey;
}

/* Link when hovering */
.contactUs a:hover{
  font-size: 45px;
  transition: 0.1s;
  cursor: pointer;
}

/*title card style*/
.titleContainer {
  background-color: lightgray;
  padding: 30px;
  margin: 0px;
}

#logo {
  width: 75px;
  float: left;
  padding-right: 25px;
}
/*so that it spans the whole page*/
body{
  margin: 0px;
}
